/* App.css */

/* Assure que le body occupe toute la hauteur de la fenêtre */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Style du header */
header {
    height: 100px;
    background-color: #333;
    color: white;
}

/* Contenu principal */
.main-content {
    flex-grow: 1; /* Prend l'espace restant entre le header et le footer */
    padding: 20px;
}

/* Style du footer */
footer {
    height: 50px;
    background-color: #222;
    color: white;
    margin-top: 20px; /* Crée un espacement entre le contenu et le footer */
}
.leaflet-container {
    height: 70vh;
    width: 100wh;
  }
